<%= simple_form_for(@status, html: { class: "form-group form-horizontal" }) do |f| %>

  <%= f.input :user_id, collection: User.order(first_name: :asc), label_method: :full_name, selected: current_user.id %>
  <%= f.input :content %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
